{% extends 'index.html' %} {% load static %} {% block content %}
<section>
  <article>
    <h1>About Us</h1>
    <!--Begin row-->
    <div class="row">
      <!--Begin col-->
      <div class="column">
        <p>
          Welcome to Little Lemon Restaurant !!! Be readly to enjoy our world class dishes.
        </p>
        <p>
          Our Chef has 14 years of experience and we offer authentic chinese food,
        </p>

        <p>
       The restaurant has a rustic and relaxed atmosphere with moderate prices, making it a popular place for a meal any time of the day.
        </p>

      

   
      </div>
      <!--End col-->

      <!--Begin col-->
      <div class="column">
        <figure class="figure">
          <img
            src="{% static 'img/mario-and-adrian.jpg' %}"
            alt="Mario and Adrian"
          />
          <figcaption class="figure-caption">
            Little Lemon owners chang and Chin.
          </figcaption>
        </figure>
      </div>
      <!--End col-->
    </div>
    <!--End row-->
  </article>
</section>
{% endblock %}
